{{define "countrysettings"}}
    <!doctype html>
    <html lang="en">
    {{template "head"}}
    <body class="bg-light">

    {{template "navbar"}}

    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h6 class='display-6'>Countries</h6>
            </div>
        </div>
    </div>

    </body>
    </html>
{{end}}
