{{/* hint is not an input control per se, it's just a static text field that informs the user of something */}}
{{define "hint"}}
    <p class="mb3 text-muted"><strong>{{.Label.ForLocale "en"}}</strong></p>
{{end}}
