# IDEs
.vscode/
.idea/*
!.idea/runConfigurations/

# dependency dir
vendor/

# macos junk
*.DS_Store

# certificates
*.pem

# output from the go coverage tool
*.out

# test binaries built by `go test -c`
*.test

# generated certificates
certs/

# build output
tmp/
