{{define "label"}}
    {{if .Label}}
        <label class="mb-2 {{if .Validation.Required}}text-black{{else}}text-muted{{end}} fw-bold" for="{{.Name}}">
            {{- .Label.ForLocale "en"}}{{if .Validation.Required}} <span style="color: red">*</span>{{end -}}
        </label>
    {{end}}
{{end}}
