{{define "label"}}
    {{if .Label}}
        <label class="mb-2 text-muted{{if .Validation.Required}} fw-bold{{end}}" style="font-weight: bold;" for="{{.Name}}">
            {{- .Label.ForLocale "en"}}{{if .Validation.Required}} <i class="bi-exclamation-circle"></i>{{end -}}
        </label>
    {{end}}
{{end}}
