{{define "notifications"}}
    {{range .}}
        <div class="alert {{if .Theme}}alert-{{.Theme}}{{end}} alert-dismissible fade show"
             role="alert" data-testid="flash">
            {{- .Message -}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{end}}
{{end}}
